:root {
  --light-color: #f3f6f4;
  --accent-color: #0f3a58;
  --accent-color-light: #6f889a;
}

body {
  background: var(--light-color);
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--accent-color);
  text-align: center;
  margin-top: 70px;
}

.fa-quote-left {
  font-size: 20px;
  color: var(--accent-color-light);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  font-weight: bolder;
  text-decoration: none;
}
.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  color: black;
  margin: 30px 0;
}
